h1{
    color: red;
    background-color: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: fit-content;
    margin-left: 350px;
}

img{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    box-shadow: 0 4px 8px red;
    border-radius: 4px;
}

body{
    background-color: yellow;
}