<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addproduct_post" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="productname">productname</label>
        <input type="text" id="productname" name="productname">
        <label for="price">price</label>
        <input type="number" id="price" name="price">
        <label for="quantity">quantity</label>
        <input type="number" id="quantity" name="quantity">
        <label for="description">description</label>
        <input type="text" id="description" name="description">
        <label for="date">date</label>
        <input type="date" id="date" name="date">
        <label for="image">image</label>
        <input type="file" name="image" id="image">

        <br><br>

        <input type="submit" value="Add">
        
    </form>
</body>
</html>