<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
        <tr>
            <th>SL no</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Action</th>
        </tr>
        <tr>
            {% for i in cust_tab %}
            <td>{{forloop.counter}}</td>
            <td>{{i.cus_name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.contact}}</td>
            <td><a href="/edit_customer/{{i.id}}">editdetails</a>
            <a href="/delete_customer/{{i.id}}">remove</a></td>
        </tr>

        {% endfor %}
         
    </table>
</body>
</html>