<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" name="" id="" value="Login">
        <a href="{% url 'reset' %}"><I>Forgot Password</I></a>
        <br>
        <a href="{% url 'sign_up' %}"><I>NEW USER</I></a>
        {{errmsg}}
    </form>
</body>  
</html>