<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/resetPassword" method="post">
        <!-- <form action="{% url 'resetPassword' %}" method="post"> -->

        {% csrf_token %}
        <P>Username <input type="text" name="uname" id=""></P><br>
        <p>Email <input type="email" name="email" id=""></p><br>
        <P><label for="">New Password</label><input type="password" name="password" id=""></P>
        <input type="submit" name="" id="" value="Send">
        {{errmsg}}
        <P><a href="{% url 'login' %}"><I>Login</I></a></P>
    </form>

</body>
</html>

